.code-box {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 0 16px;
    border: 1px solid #ebedf0;
    border-radius: 2px;
    transition: all 0.2s;

    .xy-divider.xy-divider-with-text {
        margin-bottom: 0;
    }
}
.code-box-demo {
    padding: 32px 24px 10px;
    color: rgba(0, 0, 0, 0.65);
}
.code-box-description {
    padding: 12px 24px 12px;
}
